.container .words {
    background-color:aquamarine;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.3rem;
  }
  
  .container .words span {
    padding: 3px;
    margin: 2px;
    border-radius: 5px;
  }



  @media (max-width: 768px) {
    .result {
      width: 55%;
    }
  }
  
  @media (max-width: 500px) {
    .result {
      width: 75%;
    }
  }


  .current{
    background-color: chocolate;
    color: wheat;
    border: solid 1px;
    

  }