

.formInput{
    margin-top: 15px;
  border-radius: 50px;
  height: 50px;
  width: 350px;
  padding: 20px;
  font-size: 25px;
}
.formInput:hover{
 background-color:darkseagreen;
}

li{
    list-style: none;
    display: flex;
    margin-bottom: 5px;
   
    
}

.completed{
    text-decoration: line-through;
    opacity: 0.8;
    background: gray;
    border-radius: 15px;
    color: aliceblue;
    padding: 8px;
    width: 100%;

}
button{
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: aqua;
    padding: 10px;
    cursor: pointer;
    
}
button:hover{
    background-color:darkgreen;
    color: wheat;
    
    padding: 10px;
    cursor: pointer;
    
}